{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Make a new Order</h5>
			<p>Making a new order will assign product to a warehouse, and also set status for shipping</p>
		</div>
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				<div>Branch</div>
				<div class="mb-3">{{form.warehouse}}</div>
				<div>Product</div>
				<div class="mb-3">{{form.product}}</div>
				<div>Order Status</div>
				<div class="mb-3">{{form.status}}</div>

				<input class="btn btn-primary" type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}