<!-- Form for adding products -->
{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Add a new Product</h5>
			<p>Add a new product to the items menu</p>
		</div>
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				<div>Name</div>
				<div class="mb-3">{{form.name}}</div>
				<div>Price</div>
				<div class="mb-3">{{form.price}}</div>
				<div>Category</div>
				<div class="mb-3">{{form.category}}</div>
				<div>Description</div>
				<div class="mb-3">{{form.description}}</div>
				<div>Tags (Hold Control/command to select multiple tags)</div>
				<div class="mb-3">{{form.tags}}</div>
				<button class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Submit</button>

				<a class="btn btn-primary btn-danger" href="{% url 'products' %}"> Go back</a>
			</form>

		</div>
	</div>
</div>
{% endblock %}