<!-- Order delete confirmation page -->
{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<p>Are you sure you want to delete order for <b>{{item.product}}</b> from <b>{{item.warehouse}}</b>
				warehouse?</p>
			<form action="{% url 'delete_order' item.id  %}" method="POST">
				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'home' %}">Cancel</a>
				<button class="btn btn-danger" onclick="this.disabled=true,this.form.submit();">Confirm</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}