<!-- Form for making new order -->
{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h5>Make a new Order</h5>
			<p>Making a new order will assign product to a warehouse, and also set status for shipping</p>
		</div>
		<div class="card card-body">
			<form action="" method="POST">
				{% csrf_token %}
				<div>Branch</div>
				<div class="mb-3">{{form.warehouse}}</div>
				<div>Product</div>
				<div class="mb-3">{{form.product}}</div>
				<div>Order Status</div>
				<div class="mb-3">{{form.status}}</div>

				<button class="btn btn-primary" onclick="this.disabled=true,this.form.submit();">Submit</button>
				<a class="btn btn-primary btn-danger" href="{% url 'home' %}"> Go back</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}